name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.x'

      - name: Set GOMODCACHE
        run: echo "GOMODCACHE=$RUNNER_TEMP/gocache" >> $GITHUB_ENV

      - name: Ensure cache directories clean
        run: rm -rf ~/.cache/go-build $GOMODCACHE || true

      - name: Cache Go modules
        uses: actions/cache@v4
        continue-on-error: true
        with:
          path: |
            ~/.cache/go-build
            ${{ env.GOMODCACHE }}
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7.2
          install-mode: go install

      - name: Lint
        run: golangci-lint run

      - name: Test
        run: go test ./...
